<h1>Do I belong to you?</h1>

<div id="found">
  <ul class="found-pet-list">
    <% @pets.each do |pet| %>
    <li class="found-pet">
      <% if pet.avatar.exists? %>
        <%= image_tag pet.avatar.url(:medium), {:class => "found-pet-show-image"} %>
      <% elsif pet.avatar_file_name %>
        <%= image_tag pet.avatar_file_name, {:class => "found-pet-show-image"} %>
      <% end %>
      <p class="found-name"> <%= pet.name %></p>
      <p class="found-description"> <%= pet.description[0..250] %>...</p>
      <%= link_to "read more", pet_path(pet), class: "read-more" %>
      <p> <%= pet.shelter_name %></p>
      <p> <%= pet.zip %></p>
    </li>
    <% end %>
  </ul>
</div>

