<html>
<div class="page-container">
<h2>Have you seen me?</h2>

<div id="lost">
  <ul>
    <% @pets.each do |pet| %> 
      <div class="lost-pet">
        <% if pet.avatar.exists? %>
        <%= image_tag pet.avatar.url(:medium), {:class => "pet-show-image"} %>
        <% end %>
        <p> <%= pet.name %></p>
        <p> <%= pet.description %></p>
        <p> <%= pet.zip %></p>
        <p> <%= button_to "I found my pet!", pet, method: :delete, data: { confirm: "Are you sure?" } %></p>
      </div>
      <% end %>
  </ul>
</div>
</div>
</html>
