<!DOCTYPE html>
<html>
<head>
  <title>Find Bebe</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="navbar navbar-fixed-top">
    <h1>Find Bebe</h1>
  </header>

  <div id="account">
    <% if current_user %>
      <span> Welcome, <%= current_user.name %></span>
      <%= link_to "Sign Out", logout_path, id: "logout" %>
    <% else %>
      <%= link_to "Sign in with Twitter", twitter_login_path, id: "twitter_login"%>
      <%= link_to "Sign in with Facebook", facebook_login_path, id: "facebook_login" %>
  <% end %>
  
  </div>

  <%= yield %>

  <% flash.each do |name, msg| -%>
    <%= content_tag :div, msg, class: name %>
  <% end -%>

  <!-- <footer>
    <div>
      <p>made by lauren</p>
    </div>
  </footer> -->

</body>
</html>
