<!DOCTYPE html>
<html>
<div class="page-container">
  <head>
    <link href='http://fonts.googleapis.com/css?family=Didact+Gothic' rel='stylesheet' type='text/css'>

    <title>Find Bebe</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
<body>
  <header class="navbar navbar-fixed-top">
    <div class="logo">
      <%= link_to image_tag("logo.png"), "/" %>
      </div>
  </header>

  <div id="account">
    <% if current_user %>
      <span> Welcome, <%= current_user.name %></span>
      <%= link_to "Sign Out", logout_path, id: "logout" %>
    <% else %>
      <%= button_to "Sign in with Twitter", twitter_login_path, method: :get, id: "twitter_login"%>
      <%= button_to "Sign in with Facebook", facebook_login_path, method: :get, id: "facebook_login" %>
    <% end %>
  </div>

  <%= yield %>

  <% flash.each do |name, msg| -%>
    <%= content_tag :div, msg, class: name %>
  <% end %>
</body>
 <!-- <footer>
    <div>
      <p>made by lauren</p>
    </div>
  </footer> -->
</div>
</html>
